* {
    background-color: rgb(231, 220, 216);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(117, 109, 109);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

h2 {
    color: rgb(117, 109, 109);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}

h3 {
    color: rgb(117, 109, 109);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}

.block1 {
         color: rgb(117, 109, 109);
         padding-left: 2%;
         padding-top: 0.5%;
         padding-right: 2%;
         padding-bottom: 0.5%;
}

.block2 {
         padding-top: 0.5%;
         padding-right: 2%;
         padding-bottom: 0.5%;
}

.block3 {
         padding-top: 0.5%;
         padding-right: 2%;
         padding-bottom: 0.5%;
}

.block4 {
         padding-top: 0.5%;
         padding-right: 2%;
         padding-bottom: 0.5%;
}
.block5 {
         padding-top: 0.5%;
         padding-right: 2%;
         padding-bottom: 0.5%;
}

.block6 {
         padding-top: 0.5%;
         padding-right: 2%;
         padding-bottom: 0.5%;
}